body {
display:flex;
flex-direction:column;
font-family: Arial, sans-serif;
background-color: #f0f0f0;
}
h1 {
text-align: center;
color: #333;
margin-top: 20px;
margin-bottom: 20px;
}

div {
display: flex;
justify-content: center;
}

.tabuleiro {
display: grid;
grid-template-columns: repeat(3, 100px);
gap: 5px;
}

.casa {
width: 100px;
height: 100px;
background-color: #ddd;
display: flex;
justify-content: center;
align-items: center;
font-size: 2em;
cursor: pointer;
}

button {
padding: 10px 20px;
font-size: 1em;
margin: 25px 20px;
border: none;
border-radius: 10px;
cursor: pointer;
align-items: center;
}

table {
  align-items: right;
  border-collapse: collapse;
  margin-top: 10px;;
  width: 10%;
}